# Intro to Python and Pandas

## Importing Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import names

About conventions.. https://www.python.org/dev/peps/pep-0008/

## Variables

In [2]:
myname = "John"
print("John")

John

PEP8: "Function names should be lowercase, with words separated by underscores as necessary to improve readability."

In [3]:
my_name = "John"
print("John")

John

## Data Types

* Tuples
* Lists
* Dictionaries

| List                                                                                                           | Tuple                                                                                                | Set                                                                                 | Dictionary                                                                         |   |   |   |   |   |   |
|:--------------------------------------------------------------------------------------------------------------:|:----------------------------------------------------------------------------------------------------:|:-----------------------------------------------------------------------------------:|:----------------------------------------------------------------------------------:|:---:|:---:|:---:|:---:|:---:|:---:|
| List is a non-homogeneous data structure which stores the elements in single row and multiple rows and columns | Tuple is also a non-homogeneous data structure which stores single row and multiple rows and columns | Set data structure is also non-homogeneous data structure but stores in single row  | Dictionary is also a non-homogeneous data structure which stores key value pairs   |   |   |   |   |   |   |
| List can be represented by [ ]                                                                                 | Tuple can be represented by  ()                                                                      | Set can be represented by { }                                                       | Dictionary  can be represented by { }                                              |   |   |   |   |   |   |
| List allows duplicate elements                                                                                 | Tuple allows duplicate elements                                                                      | Set will not allow duplicate elements                                               | Set will not allow duplicate elements and dictionary doesnâ€™t allow duplicate keys. |   |   |   |   |   |   |
| List can use nested among all                                                                                  | Tuple can use nested among all                                                                       | Set can use nested among all                                                        | Dictionary can use nested among all                                                |   |   |   |   |   |   |
| Example: [1, 2, 3, 4, 5]                                                                                       | Example: (1, 2, 3, 4, 5)                                                                             | Example: {1, 2, 3, 4, 5}                                                            | Example: {1, 2, 3, 4, 5}                                                           |   |   |   |   |   |   |
| List can be created using list() function                                                                      | Tuple can be created using tuple() function.                                                         | Set can be created using set() function                                             | Dictionary can be created using dict() function.                                   |   |   |   |   |   |   |
| List is mutable i.e we can make any changes in list.                                                           | Tuple  is immutable i.e we can not make any changes in tuple                                         | Set is mutable i.e we can make any changes in set. But elements are not duplicated. | Dictionary is mutable. But Keys are not duplicated.                                |   |   |   |   |   |   |
| List is ordered                                                                                                | Tuple is ordered                                                                                     | Set is unordered                                                                    | Dictionary is ordered                                                              |   |   |   |   |   |   |
| Creating an empty list, l=[]                                                                                   | Creating an empty Tuple, t=()                                                                        | Creating a set, a=set()                                                             | Creating an empty dictionary: d={}                                                 |   |   |   |   |   |   |

source: https://www.geeksforgeeks.org/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/

### Tuples

In [4]:
tp = ()
type(tp)

tuple

In [5]:
tp = tuple("a")
tp

('a',)

In [6]:
tp = ("a",)
tp

('a',)

In [7]:
tp = tp + tuple(("b",3))
tp

('a', 'b', 3)

In [8]:
tp_lst = list(tp)
tp_lst.remove('b')
tp = tuple(tp_lst)
tp

('a', 3)

### Lists

In [9]:
list_names = []

for x in range(3):
    #print(x)
    list_names.append(names.get_full_name())
 
list_names

['Karen Lovelady', 'David Armentrout', 'Mary Mcmillian']

In [10]:
list_names = [names.get_full_name() for x in range(3)]

list_names

['Donald Lane', 'Sandra Jessica', 'Deann Blevins']

### Dictionaries

* Serialization (Dictionary to JSON file)
* Deserialization (JSON file to Dictionary)

In [11]:
team = {
    1:{
        'name':'John',
        'age' : 43,
        'is_marriage': True
    },
    2:{
        'name':'Anna',
        'age' : 39,
        'is_marriage': False
    }
}

In [12]:
team

{1: {'name': 'John', 'age': 43, 'is_marriage': True},
 2: {'name': 'Anna', 'age': 39, 'is_marriage': False}}

In [13]:
team.keys()

dict_keys([1, 2])

In [14]:
team.values()

dict_values([{'name': 'John', 'age': 43, 'is_marriage': True}, {'name': 'Anna', 'age': 39, 'is_marriage': False}])

In [15]:
team.items()

dict_items([(1, {'name': 'John', 'age': 43, 'is_marriage': True}), (2, {'name': 'Anna', 'age': 39, 'is_marriage': False})])

In [16]:
team[1]['name']

'John'

In [17]:
team.get(1).get('name')

'John'

In [18]:
with open( "team.json" , "w" ) as write:
    json.dump( team , write)

Load a JSON file

In [19]:
with open( "team.json" , ) as read:
    team_loaded = json.load(read)

In [20]:
team_loaded

{'1': {'name': 'John', 'age': 43, 'is_marriage': True},
 '2': {'name': 'Anna', 'age': 39, 'is_marriage': False}}

### Sets

In [21]:
s = {"John","Anna","Roger","Anna","Mary"}

print(type(s))

s

<class 'set'>

{'Anna', 'John', 'Mary', 'Roger'}

In [22]:
s.add("Albert")

In [23]:
s

{'Albert', 'Anna', 'John', 'Mary', 'Roger'}

## Functions

Example of some funtions declared in the current notebook

In [24]:
def hello():
    print("Hello from a function") 

hello()

Hello from a function

In [25]:
def subtraction(a,b):
    return a - b

subtraction(5,2)

3

Funtions imported from modules

In [26]:
import modules
list_of_funtions = dir(modules)
list_of_funtions

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'md_hello',
 'md_subtraction']

In [27]:
modules.md_hello()

Hello from a function inside a module

In [28]:
modules.md_subtraction(6,4)

md_subtraction is running

2

In [29]:
modules.md_subtraction.__doc__

'This is a Subtraction funtion\n\n    Args:\n        a ([type], optional): [description]. Defaults to float.\n        b ([type], optional): [description]. Defaults to float.\n\n    Returns:\n        float: [description]\n    '

Use print funtion for a better visualization of documentation built-in functions

In [30]:
print(modules.md_subtraction.__doc__)

This is a Subtraction funtion

    Args:
        a ([type], optional): [description]. Defaults to float.
        b ([type], optional): [description]. Defaults to float.

    Returns:
        float: [description]

## Pandas

Read a csv file into a dataframe on pandas

In [31]:
list_of_pandas_functions = dir(pd)
list_of_pandas_functions[:10]

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter']

In [32]:
pd.read_csv.__name__

'read_csv'

In [33]:
print(pd.read_csv.__doc__)

Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'	'``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP

In [34]:
df = pd.read_csv('./data/bitcoin_2011-1-2_2022-1-9.csv')

Show the first results using the "head" method

In [35]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jan-08-2022,36564.243612,37229.038550,35771.261670,36748.872743,7.539408e+10,6.946371e+11
1,Jan-07-2022,37967.058111,37967.058111,36102.961485,36537.631462,7.764271e+10,6.995637e+11
2,Jan-06-2022,38201.660140,38491.911415,37491.009172,37951.276491,9.793463e+10,7.177319e+11
3,Jan-05-2022,40355.401583,41359.168838,37406.449745,38312.722931,9.606402e+10,7.644243e+11
4,Jan-04-2022,40849.626772,41801.873753,40227.324446,40385.241683,6.572451e+10,7.731503e+11

In [36]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Market Cap    float64
dtype: object

### Cleaning approaches

Normalize column names to lower case, replacing spaces by underscore character

In [37]:
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'market cap'], dtype='object')

In [38]:
df.columns = df.columns.str.replace(" ","_")
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'market_cap'], dtype='object')

Convert the date format as YYYY-MM-DD

In [39]:
df['date_formated'] = pd.to_datetime(df.date, infer_datetime_format=True)
df.head()

,date,open,high,low,close,volume,market_cap,date_formated
0,Jan-08-2022,36564.243612,37229.038550,35771.261670,36748.872743,7.539408e+10,6.946371e+11,2022-01-08
1,Jan-07-2022,37967.058111,37967.058111,36102.961485,36537.631462,7.764271e+10,6.995637e+11,2022-01-07
2,Jan-06-2022,38201.660140,38491.911415,37491.009172,37951.276491,9.793463e+10,7.177319e+11,2022-01-06
3,Jan-05-2022,40355.401583,41359.168838,37406.449745,38312.722931,9.606402e+10,7.644243e+11,2022-01-05
4,Jan-04-2022,40849.626772,41801.873753,40227.324446,40385.241683,6.572451e+10,7.731503e+11,2022-01-04

In [40]:
res = subtraction(df.high, df.low)
res.head()

0    1457.776880
1    1864.096626
2    1000.902243
3    3952.719094
4    1574.549307
dtype: float64

In [41]:
res = subtraction(df.high[0], df.low[0])
res

1457.7768800240083

## Plots with Matplotlib

Plot a time series (data with a date and values)

In [ ]:
fig, ax = plt.subplots()

line, = ax.plot(df.date,df.close, 
                label = 'BitCoin Close Price by Day')

ax.legend()
plt.show()

Add the right data types into plots, can make the difference

In [ ]:
fig, ax = plt.subplots()

line, = ax.plot(df['date_formated'], df['close'], 
                label='BitCoin Close Price by Day')

ax.legend()
plt.show()

In [ ]:
# source: https://www.geeksforgeeks.org/how-to-group-pandas-dataframe-by-date-and-time/
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

df_agg = df.groupby(pd.Grouper(key='date_formated', freq='M')).mean()
df_agg.head()

In [ ]:
try:
    fig, ax = plt.subplots()

    line, = ax.plot(df_agg['date_formated'], df_agg['close'], 
                    label='BitCoin Close Price')

    ax.legend()
    plt.show()
except:
    print("Why did fail?")

In [ ]:
df_agg.columns

In [ ]:
df_agg.index

In [ ]:
df_agg = df_agg.reset_index()

In [ ]:
df_agg.columns

In [ ]:
fig, ax = plt.subplots()

line, = ax.plot(df_agg['date_formated'], df_agg['close'], 
                label='Mean BitCoin Close Price by Month')

ax.legend()
plt.show()

# References

https://www.w3schools.com/python/default.asp   
https://www.python.org/dev/peps/pep-0008/   
https://www.geeksforgeeks.org/how-to-group-pandas-dataframe-by-date-and-time/  
https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html