# Intro to Python and Pandas

## Importing Packages

In [ ]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import json

In [ ]:
from modules import md_hello, md_difference

## Data Types

* Tuples
* Lists
* Dictionaries

### Tuples

* tuples are immutable (only with workaround)
* allow different data types inside the tupple
* not allow removes (only with workaround by lists)
* not allow ordening

In [ ]:
tp = ()
type(tp)

In [ ]:
tp = tuple("a")
tp

In [ ]:
tp = tp + tuple(("b",3))
tp

In [ ]:
tp_lst = list(tp)
tp_lst.remove('b')
tp = tuple(tp_lst)
tp

### Lists

### Dictionaries

* Serialization (Dictionary to JSON file)
* Deserialization (JSON file to Dictionary)

In [ ]:
team = {
    '1':{
        'name':'John',
        'age' : 43,
        'is_marriage': True
    },
    '2':{
        'name':'Anna',
        'age' : 39,
        'is_marriage': False
    }
}

In [ ]:
team

In [ ]:
team.keys()

In [ ]:
team.values()

In [ ]:
team.items()

In [ ]:
team['id_1']['name']

In [ ]:
team.get('id_1').get('name')

In [ ]:
with open( "team.json" , "w" ) as write:
    json.dump( team , write)

Load a JSON file

In [ ]:
with open( "team.json" , ) as read:
    team_loaded = json.load(read)

In [ ]:
team_loaded

## Functions

In [ ]:
def hello():
    print("Hello from a function") 

hello()

In [ ]:
def difference(a,b):
    return a - b

difference(5,2)

In [ ]:
md_hello()

In [ ]:
md_difference(6,4)

## Pandas

Read a csv file into a dataframe on pandas

In [ ]:
df = pd.read_csv('./data/bitcoin_2011-1-2_2022-1-9.csv')

Show the first results using the "head" method

In [ ]:
df.head()

In [ ]:
df.dtypes

### Cleaning approaches

Normalize column names to lower case, replacing spaces by underscore character

In [ ]:
df.columns = df.columns.str.lower()
df.columns

In [ ]:
df.columns = df.columns.str.replace(" ","_")
df.columns

Convert the date format as YYYY-MM-DD

In [ ]:
df['date_formated'] = pd.to_datetime(df.date, infer_datetime_format=True)
df.head()

In [ ]:
res = difference(df.high, df.low)
res.head()

In [ ]:
res = difference(df.high[0], df.low[0])
res

In [ ]:
fig, ax = plt.subplots()

line, = ax.plot(df.date,df.close,label = 'BitCoin Close Price')

ax.legend()
plt.show()

In [ ]:
fig, ax = plt.subplots()

line, = ax.plot(df['date_formated'], df['close'], label='BitCoin Close Price')

ax.legend()
plt.show()